/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******** End Reset: Unique Styling Begins Here ********/

/******** General Page Layout and Setup ********/
:root {
    font-family: 'Roboto', sans-serif;
    
    --header-text-color-dark: #222;
    --header-text-color-light: rgba(0, 0 ,0 ,.87);
    --footer-text-color: #70757a;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

.main-container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 63px 1fr 63px;
    height: 100%;
    width: 100%;
}

/******** Header ********/
.header {
    background: mistyrose;
    grid-area: header;
    height: 100%;
    width: 100%;
}

/******** Main (Logo, Searchbar) ********/
.main {
    background: white;
    grid-area: main;
    height: 100%;
    width: 100%;
}

/******** Footer ********/
.footer {
    background: lightblue;
    grid-area: footer;
    height: 100%;
    width: 100%;
}

