/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******** End Reset: Unique Styling Begins Here ********/

/******** General Page Layout and Setup ********/
:root {
    font-family: 'Roboto', sans-serif;
    
    --text-color-dark: #222;
    --text-color-light: rgba(0, 0 ,0 ,.87);
    --footer-text-color: #70757a;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    display: block;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

.page-container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 63px 1fr minmax(48px, auto);
    height: 100%;
    width: 100%;
}

/******** Header ********/
.header {
    grid-area: header;
    height: 100%;
    width: 100%;
}

.navbar {
    display: grid;
    grid-template-areas:
        "about   store   main-services";
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    place-items: center;
    width: 100%;
}

.navbar > a {
    color: var(--text-color-dark);
    font-size: 14px;
    margin: 0 15px;
}

.main-services {
    align-items: center;
    color: var(--text-color-light);
    display: flex;
    font-family: arial;
    font-size: 13px;
    justify-self: end;
}

.main-services > * {
    margin: 0 12px;
}

.google-apps {
    border-radius: 50%;
    padding: 5px;
    width: 37px;
}

.google-apps:hover {
    background: #eff0f0;
}

.user-profile {
    background: #7b1fa2;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    font-weight: 500;
    height: 35px;
    padding: 10px;
    text-align: center;
    vertical-align: center;
    width: 35px;
}

.user-profile:hover {
    box-shadow: 0 0 0 5px #eff0f0;
    text-decoration: none;
}

/******** Main (Logo, Searchbar) ********/
.main {
    background: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-area: main;
    height: 100%;
    place-items: start center;
    width: 100%;
}

.main-container {
    display: grid;
    grid-template-columns: 
        "logo"
        "searchbar"
        "buttons";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 3);
    height: auto;
    margin-top: 20vh;
    place-items: start center;
    transition: width 0.1s linear;
    width: 600px;
}

.google-logo {
    height: 92px;
    margin-bottom: 0;
    width: 272px;
}

.searchbar-container {
    border: 1px solid rgb(223, 225, 229);
    border-radius: 40px;
    display: grid;
    grid-template-areas: 
        "search-icon   searchbar   voice-control";
    grid-template-columns: auto 1fr auto;
    height: 47px;
    margin: 30px 0;
    padding: 0 15px;
    place-items: center;
    width: 100%;
}

.searchbar-container:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 28%);
}

.search-magnifying-glass {
    justify-self: start;
    margin-right: 10px;
    width: 20px;
}

.searchbar-form {
    height: 100%;
    width: 100%;
}

#searchbar {
    border: none;
    color: var(--text-color-dark);
    font-size: 16px;
    height: 100%;
    width: 100%;
}

#searchbar:focus {
    outline: none;
}

.voice-control {
    background: none;
    border: none;
    justify-self: end;
    margin-left: 10px;
}

.voice-control:hover {
    cursor: pointer;
}

.voice-control-icon {
    width: 26px;
}

.main-buttons {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.main-buttons > button {
    background: rgb(248, 249, 250);
    border: 1px solid rgb(248, 249, 250);
    border-radius: 4px;
    color: rgb(60, 64, 67);
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    margin: 0 4px;
    padding: 0 16px;
}

/******** Footer ********/
.footer {
    background: #f2f2f2;
    color: var(--footer-text-color);
    display: grid;
    font-size: 14px;
    grid-template-areas:
        "business-and-search   emissions-statement   conditions-settings";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-area: footer;
    height: 100%;
    padding: 0 15px;
    place-items: center;
    width: 100%;
}

.footer li {
    margin: 0 15px;
}

.business-and-search {
    align-items: center;
    display: flex;
    grid-area: business-and-search;
    justify-self: start;
}

.emissions-statement {
    grid-area: emissions-statement;
}

.emissions-icon {
    margin-right: 4px;
    width: 12.25px;
}

.conditions-settings {
    align-items: center;
    display: flex;
    grid-area: conditions-settings;
    justify-self: end;
}

/******** Media Queries ********/

@media all and (max-width: 1200px) {
    .footer {
        grid-template-areas:
            "emissions-statement   emissions-statement"
            "business-and-search   conditions-settings";
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr 1fr;
        padding: 18px 0 6px 0;
        place-items: center;
    }

    .emissions-statement {
        margin-bottom: 19px;
    }

  @media all and (max-width: 620px) {
      .main-container {
          width: 90vw;
          /* margin: 20vh 10vw 0 10vw; */
      }
  }

@media all and (max-width: 600px) {
    .footer {
        grid-template-areas:
            "emissions-statement"
            "business-and-search"
            "conditions-settings";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 14px 0 6px 0;
    }

    .emissions-statement {
        margin-bottom: 0;
    }

    .business-and-search {
        align-self: center;
        justify-self: center;
        margin: 13px 0;
    }

    .conditions-settings {
        align-self: center;
        justify-self: center;
    }
}
 